<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="padding: 0px 3.8%;">
      <h1 class="text-center">Card checker!</h1>

      <div>
        <%= form_for @card do |f| %>
        <% if @card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

          <ul>
            <% @card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <br>
        <label class="col-md-12 text-center">Enter your card number</label>
        <br>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
          <%= f.text_field :number, placeholder: "5276 0155 0856 3021", requred: true, size: 20, class: 'form-control ' %>
        </div>
        <br>
        <%= f.submit 'Check card number', :class=> "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
